apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "ai-portal.fullname" . }}-backend
  labels:
    app: {{ include "ai-portal.name" . }}-backend
    chart: {{ include "ai-portal.chart" . }}
    release: {{ .Release.Name }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "ai-portal.name" . }}-backend
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ include "ai-portal.name" . }}-backend
        release: {{ .Release.Name }}
    spec:
      containers:
      - name: backend
        image: "{{ .Values.backend.image.repository }}:{{ .Values.backend.image.tag }}"
        imagePullPolicy: {{ .Values.backend.image.pullPolicy }}
        ports:
        - name: http
          containerPort: 8000
          protocol: TCP
        env:
        {{- toYaml .Values.backend.env | nindent 8 }}
        livenessProbe:
          httpGet:
            path: /
            port: http
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /
            port: http
          initialDelaySeconds: 10
          periodSeconds: 5
        resources:
          {{- toYaml .Values.backend.resources | nindent 10 }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "ai-portal.fullname" . }}-backend
  labels:
    app: {{ include "ai-portal.name" . }}-backend
    chart: {{ include "ai-portal.chart" . }}
    release: {{ .Release.Name }}
spec:
  type: {{ .Values.backend.service.type }}
  ports:
    - port: {{ .Values.backend.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: {{ include "ai-portal.name" . }}-backend
    release: {{ .Release.Name }}